* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    color: var(--text);
    background-color: var(--primary);
    overflow-x: hidden;
    position: relative;
}